-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: water_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `username` varchar(60) DEFAULT NULL,
  `fullname` varchar(150) DEFAULT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  `organization_name` varchar(255) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `report_date` date DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_action` (`action`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district_flood_stats`
--

DROP TABLE IF EXISTS `district_flood_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `district_flood_stats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `district_id` int(11) NOT NULL,
  `district_name` varchar(100) NOT NULL,
  `subdistricts_affected` int(11) DEFAULT 0,
  `villages_affected` int(11) DEFAULT 0,
  `communities_affected` int(11) DEFAULT 0,
  `households_affected` int(11) DEFAULT 0,
  `is_flooded` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_dist_date` (`report_date`,`district_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district_flood_stats`
--

LOCK TABLES `district_flood_stats` WRITE;
/*!40000 ALTER TABLE `district_flood_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `district_flood_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `districts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name_th` varchar(100) NOT NULL,
  `code` varchar(20) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name_th` (`name_th`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
INSERT INTO `districts` VALUES (1,'α╕¡α╕│α╣Çα╕áα╕¡α╣Çα╕íα╕╖α╕¡α╕çα╕¡α╣êα╕▓α╕çα╕ùα╕¡α╕ç','1501','2026-10-02 09:12:34'),(2,'α╕¡α╕│α╣Çα╕áα╕¡α╣äα╕èα╣éα╕ó','1502','2026-10-02 09:12:34'),(3,'α╕¡α╕│α╣Çα╕áα╕¡α╕¢α╣êα╕▓α╣éα╕íα╕ü','1503','2026-10-02 09:12:34'),(4,'α╕¡α╕│α╣Çα╕áα╕¡α╣éα╕₧α╕ÿα╕┤α╣îα╕ùα╕¡α╕ç','1504','2026-10-02 09:12:34'),(5,'α╕¡α╕│α╣Çα╕áα╕¡α╣üα╕¬α╕ºα╕çα╕½α╕▓','1505','2026-10-02 09:12:34'),(6,'α╕¡α╕│α╣Çα╕áα╕¡α╕ºα╕┤α╣Çα╕¿α╕⌐α╕èα╕▒α╕óα╕èα╕▓α╕ì','1506','2026-10-02 09:12:34'),(7,'α╕¡α╕│α╣Çα╕áα╕¡α╕¬α╕▓α╕íα╣éα╕üα╣ë','1507','2026-10-02 09:12:34');
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_medical_services`
--

DROP TABLE IF EXISTS `flood_medical_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flood_medical_services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `district_id` int(11) NOT NULL,
  `district_name` varchar(100) NOT NULL,
  `organization_id` int(11) NOT NULL,
  `organization_name` varchar(255) NOT NULL,
  `user_id` int(11) NOT NULL,
  `user_name` varchar(150) NOT NULL,
  `outreach_location` varchar(255) DEFAULT NULL,
  `village_no` int(11) DEFAULT NULL,
  `village_name` varchar(150) DEFAULT NULL,
  `people_served` int(11) DEFAULT 0,
  `team_mobile_clinic` int(11) DEFAULT 0,
  `team_mcatt` int(11) DEFAULT 0,
  `team_srrt` int(11) DEFAULT 0,
  `team_shert` int(11) DEFAULT 0,
  `service_chronic_meds` int(11) DEFAULT 0,
  `service_home_visit` int(11) DEFAULT 0,
  `service_med_dispense` int(11) DEFAULT 0,
  `service_health_edu` int(11) DEFAULT 0,
  `service_treatment` int(11) DEFAULT 0,
  `service_referral` int(11) DEFAULT 0,
  `service_other` int(11) DEFAULT 0,
  `mental_screened` int(11) DEFAULT 0,
  `mental_high_stress` int(11) DEFAULT 0,
  `mental_depression` int(11) DEFAULT 0,
  `mental_suicide_risk` int(11) DEFAULT 0,
  `mental_help_pfa` int(11) DEFAULT 0,
  `mental_help_doctor` int(11) DEFAULT 0,
  `disease_respiratory` int(11) DEFAULT 0,
  `disease_gastrointestinal` int(11) DEFAULT 0,
  `disease_circulatory` int(11) DEFAULT 0,
  `disease_eye_infection` int(11) DEFAULT 0,
  `disease_skin` int(11) DEFAULT 0,
  `disease_athletes_foot` int(11) DEFAULT 0,
  `disease_muscle_pain` int(11) DEFAULT 0,
  `disease_headache` int(11) DEFAULT 0,
  `disease_dengue` int(11) DEFAULT 0,
  `disease_diarrhea` int(11) DEFAULT 0,
  `disease_fatigue` int(11) DEFAULT 0,
  `disease_viral` int(11) DEFAULT 0,
  `disease_other` int(11) DEFAULT 0,
  `disease_other_text` varchar(255) DEFAULT NULL,
  `accident_drowning` int(11) DEFAULT 0,
  `accident_electrocution` int(11) DEFAULT 0,
  `resource_relief_kit` int(11) DEFAULT 0,
  `resource_home_medicine` int(11) DEFAULT 0,
  `resource_foot_cream` int(11) DEFAULT 0,
  `resource_antifungal` int(11) DEFAULT 0,
  `resource_boots` int(11) DEFAULT 0,
  `resource_mosquito_repellent` int(11) DEFAULT 0,
  `resource_garbage_bag` int(11) DEFAULT 0,
  `resource_alum` int(11) DEFAULT 0,
  `resource_chlorine` int(11) DEFAULT 0,
  `resource_em` int(11) DEFAULT 0,
  `resource_other` int(11) DEFAULT 0,
  `shelter_count` int(11) DEFAULT 0,
  `shelter_capacity` int(11) DEFAULT 0,
  `shelter_occupants` int(11) DEFAULT 0,
  `reporter_name` varchar(150) DEFAULT NULL,
  `reporter_phone` varchar(50) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_date` (`report_date`),
  KEY `idx_org` (`organization_id`),
  KEY `idx_district` (`district_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_medical_services`
--

LOCK TABLES `flood_medical_services` WRITE;
/*!40000 ALTER TABLE `flood_medical_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_medical_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_provincial_situation`
--

DROP TABLE IF EXISTS `flood_provincial_situation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flood_provincial_situation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `rain_situation` varchar(255) DEFAULT 'α╣äα╕íα╣êα╕íα╕╡α╕¥α╕Öα╕òα╕üα╣âα╕Öα╕₧α╕╖α╣ëα╕Öα╕ùα╕╡α╣êα╕êα╕▒α╕çα╕½α╕ºα╕▒α╕öα╕¡α╣êα╕▓α╕çα╕ùα╕¡α╕ç',
  `water_discharge` varchar(100) DEFAULT '8.62 (+0.47) (α╕êα╕╕α╕öα╕½α╕Öα╣ëα╕▓α╕¿α╕▓α╕Ñα╕▓α╕üα╕Ñα╕▓α╕ç)',
  `shelter_total_sites` int(11) DEFAULT 2,
  `shelter_capacity` int(11) DEFAULT 300,
  `shelter_occupants` int(11) DEFAULT 0,
  `deaths` int(11) DEFAULT 0,
  `injuries` int(11) DEFAULT 0,
  `missing` int(11) DEFAULT 0,
  `data_source` varchar(255) DEFAULT 'α╕éα╣ëα╕¡α╕íα╕╣α╕Ñα╕¬α╕ûα╕▓α╕Öα╕üα╕▓α╕úα╕ôα╣îα╕¡α╕╕α╕ùα╕üα╕áα╕▒α╕óα╣âα╕Öα╕₧α╕╖α╣ëα╕Öα╕ùα╕╡α╣êα╕êα╕▒α╕çα╕½α╕ºα╕▒α╕öα╕¡α╣êα╕▓α╕çα╕ùα╕¡α╕ç α╕¬α╕│α╕Öα╕▒α╕üα╕çα╕▓α╕Ö α╕¢α╕á.α╕êα╕▒α╕çα╕½α╕ºα╕▒α╕öα╕¡α╣êα╕▓α╕çα╕ùα╕¡α╕ç',
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `report_date` (`report_date`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_provincial_situation`
--

LOCK TABLES `flood_provincial_situation` WRITE;
/*!40000 ALTER TABLE `flood_provincial_situation` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_provincial_situation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_report_villages`
--

DROP TABLE IF EXISTS `flood_report_villages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flood_report_villages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_id` int(11) NOT NULL,
  `report_date` date NOT NULL,
  `organization_id` int(11) NOT NULL,
  `subdistrict` varchar(100) NOT NULL,
  `village_no` int(11) NOT NULL,
  `village_name` varchar(150) DEFAULT NULL,
  `bedridden_total` int(11) DEFAULT 0,
  `bedridden_flooded` int(11) DEFAULT 0,
  `bedridden_home` int(11) DEFAULT 0,
  `bedridden_shelter` int(11) DEFAULT 0,
  `bedridden_hospital` int(11) DEFAULT 0,
  `dialysis_total` int(11) DEFAULT 0,
  `dialysis_flooded` int(11) DEFAULT 0,
  `dialysis_home` int(11) DEFAULT 0,
  `dialysis_shelter` int(11) DEFAULT 0,
  `dialysis_missed` int(11) DEFAULT 0,
  `psychiatric_total` int(11) DEFAULT 0,
  `psychiatric_flooded` int(11) DEFAULT 0,
  `psychiatric_home` int(11) DEFAULT 0,
  `psychiatric_shelter` int(11) DEFAULT 0,
  `psychiatric_health_issue` int(11) DEFAULT 0,
  `elderly_total` int(11) DEFAULT 0,
  `elderly_flooded` int(11) DEFAULT 0,
  `elderly_home` int(11) DEFAULT 0,
  `elderly_shelter` int(11) DEFAULT 0,
  `elderly_out_of_meds` int(11) DEFAULT 0,
  `disabled_total` int(11) DEFAULT 0,
  `disabled_flooded` int(11) DEFAULT 0,
  `disabled_home` int(11) DEFAULT 0,
  `disabled_shelter` int(11) DEFAULT 0,
  `disabled_health_issue` int(11) DEFAULT 0,
  `ncd_total` int(11) DEFAULT 0,
  `ncd_flooded` int(11) DEFAULT 0,
  `ncd_home` int(11) DEFAULT 0,
  `ncd_shelter` int(11) DEFAULT 0,
  `ncd_out_of_meds` int(11) DEFAULT 0,
  `pregnant_total` int(11) DEFAULT 0,
  `pregnant_flooded` int(11) DEFAULT 0,
  `pregnant_home` int(11) DEFAULT 0,
  `pregnant_shelter` int(11) DEFAULT 0,
  `pregnant_health_issue` int(11) DEFAULT 0,
  `children_total` int(11) DEFAULT 0,
  `children_flooded` int(11) DEFAULT 0,
  `children_home` int(11) DEFAULT 0,
  `children_shelter` int(11) DEFAULT 0,
  `children_health_issue` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_report_village` (`report_id`,`subdistrict`,`village_no`),
  KEY `idx_report` (`report_id`),
  KEY `idx_date_org` (`report_date`,`organization_id`),
  CONSTRAINT `fk_villages_report` FOREIGN KEY (`report_id`) REFERENCES `flood_reports` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_report_villages`
--

LOCK TABLES `flood_report_villages` WRITE;
/*!40000 ALTER TABLE `flood_report_villages` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_report_villages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flood_reports`
--

DROP TABLE IF EXISTS `flood_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flood_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `organization_id` int(11) NOT NULL,
  `organization_name` varchar(255) NOT NULL,
  `district_id` int(11) NOT NULL,
  `district_name` varchar(100) NOT NULL,
  `user_id` int(11) NOT NULL,
  `user_name` varchar(150) NOT NULL,
  `report_date` date NOT NULL,
  `impact_status` enum('normal','affected') NOT NULL DEFAULT 'normal',
  `service_status` enum('normal','partial','closed') NOT NULL DEFAULT 'normal',
  `impact_details` text DEFAULT NULL,
  `substitute_location` varchar(255) DEFAULT NULL,
  `bedridden_total` int(11) DEFAULT 0,
  `bedridden_flooded` int(11) DEFAULT 0,
  `bedridden_home` int(11) DEFAULT 0,
  `bedridden_shelter` int(11) DEFAULT 0,
  `bedridden_hospital` int(11) DEFAULT 0,
  `dialysis_total` int(11) DEFAULT 0,
  `dialysis_flooded` int(11) DEFAULT 0,
  `dialysis_home` int(11) DEFAULT 0,
  `dialysis_shelter` int(11) DEFAULT 0,
  `dialysis_missed` int(11) DEFAULT 0,
  `psychiatric_total` int(11) DEFAULT 0,
  `psychiatric_flooded` int(11) DEFAULT 0,
  `psychiatric_home` int(11) DEFAULT 0,
  `psychiatric_shelter` int(11) DEFAULT 0,
  `psychiatric_health_issue` int(11) DEFAULT 0,
  `elderly_total` int(11) DEFAULT 0,
  `elderly_flooded` int(11) DEFAULT 0,
  `elderly_home` int(11) DEFAULT 0,
  `elderly_shelter` int(11) DEFAULT 0,
  `elderly_out_of_meds` int(11) DEFAULT 0,
  `disabled_total` int(11) DEFAULT 0,
  `disabled_flooded` int(11) DEFAULT 0,
  `disabled_home` int(11) DEFAULT 0,
  `disabled_shelter` int(11) DEFAULT 0,
  `disabled_health_issue` int(11) DEFAULT 0,
  `ncd_total` int(11) DEFAULT 0,
  `ncd_flooded` int(11) DEFAULT 0,
  `ncd_home` int(11) DEFAULT 0,
  `ncd_shelter` int(11) DEFAULT 0,
  `ncd_out_of_meds` int(11) DEFAULT 0,
  `pregnant_total` int(11) DEFAULT 0,
  `pregnant_flooded` int(11) DEFAULT 0,
  `pregnant_home` int(11) DEFAULT 0,
  `pregnant_shelter` int(11) DEFAULT 0,
  `pregnant_health_issue` int(11) DEFAULT 0,
  `children_total` int(11) DEFAULT 0,
  `children_flooded` int(11) DEFAULT 0,
  `children_home` int(11) DEFAULT 0,
  `children_shelter` int(11) DEFAULT 0,
  `children_health_issue` int(11) DEFAULT 0,
  `mobile_clinic_visits` int(11) DEFAULT 0,
  `mcatt_visits` int(11) DEFAULT 0,
  `srrt_visits` int(11) DEFAULT 0,
  `people_served` int(11) DEFAULT 0,
  `home_visits` int(11) DEFAULT 0,
  `med_distribution` int(11) DEFAULT 0,
  `pfa_support` int(11) DEFAULT 0,
  `doctor_consults` int(11) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_facility_date` (`organization_id`,`report_date`),
  KEY `idx_report_date` (`report_date`),
  KEY `idx_district` (`district_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flood_reports`
--

LOCK TABLES `flood_reports` WRITE;
/*!40000 ALTER TABLE `flood_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `flood_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizations`
--

DROP TABLE IF EXISTS `organizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organizations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(20) DEFAULT NULL,
  `district_id` int(11) NOT NULL,
  `name_th` varchar(255) NOT NULL,
  `subdistrict` varchar(100) DEFAULT NULL,
  `type` enum('hospital','health_office','health_center','provincial_office') NOT NULL DEFAULT 'health_center',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_district` (`district_id`),
  CONSTRAINT `fk_org_district` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizations`
--

LOCK TABLES `organizations` WRITE;
/*!40000 ALTER TABLE `organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(60) NOT NULL,
  `password` varchar(255) NOT NULL,
  `fullname` varchar(150) NOT NULL,
  `phone` varchar(25) NOT NULL,
  `district_id` int(11) DEFAULT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  `organization_id` int(11) DEFAULT NULL,
  `organization_name` varchar(255) DEFAULT NULL,
  `role` enum('user','admin','superadmin') NOT NULL DEFAULT 'user',
  `status` enum('pending','approved','rejected','suspended') NOT NULL DEFAULT 'pending',
  `rejection_reason` text DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_status` (`status`),
  KEY `idx_role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `villages`
--

DROP TABLE IF EXISTS `villages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `villages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `organization_id` int(11) NOT NULL,
  `hospcode` varchar(20) NOT NULL,
  `moo_code` varchar(20) NOT NULL,
  `village_no` int(11) NOT NULL,
  `village_name` varchar(150) NOT NULL,
  `subdistrict` varchar(100) NOT NULL,
  `district_id` int(11) NOT NULL,
  `district_name` varchar(100) NOT NULL,
  `province_name` varchar(100) NOT NULL DEFAULT '???????',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_org_moo` (`organization_id`,`moo_code`),
  KEY `idx_org` (`organization_id`),
  KEY `idx_hospcode` (`hospcode`),
  KEY `idx_district` (`district_id`),
  KEY `idx_subdistrict` (`subdistrict`),
  CONSTRAINT `fk_villages_org` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1059 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `villages`
--

LOCK TABLES `villages` WRITE;
/*!40000 ALTER TABLE `villages` DISABLE KEYS */;
/*!40000 ALTER TABLE `villages` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02 14:09:29
